$icomoon-font-path: "../fonts" !default;

$icon-search: "\f002";
$icon-tag: "\f02b";
$icon-share-square-o: "\f045";
$icon-arrow-left: "\f060";
$icon-arrow-right: "\f061";
$icon-envelope: "\f0e0";
$icon-cloud-upload: "\f0ee";
$icon-file-pdf-o: "\f1c1";
$icon-file-word-o: "\f1c2";
$icon-file-excel-o: "\f1c3";
$icon-file-powerpoint-o: "\f1c4";
$icon-file-image-o: "\f1c5";
$icon-file-photo-o: "\f1c5";
$icon-file-picture-o: "\f1c5";
$icon-copy: "\e900";
$icon-paste: "\e901";
$icon-folder: "\e902";
$icon-folder-plus: "\e903";
$icon-wrench: "\e904";
$icon-scissors: "\e905";

